<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        
        <!-- <h1>conditions</h1>
        {% if a > 10 %}
        <h1>{{a}}</h1>
        {% endif %} -->

        
        <!-- {% if age > 17 %}
        <h1>you are eligible for voting</h1>
        {% else %}
        <h1>you are not eligible for voting {{name}}</h1>
        {% endif %} -->


        <!-- {% if marks < 35 %}
        <h1>fail</h1>
        {% elif marks > 35 and marks < 65 %}
        <h1>average</h1>
        {% else %}
        <h1>distinction</h1>
        {% endif %} -->

        <!-- {% if age < 18 %}
            {% if grade >= 9 %}
            <h1>you are a high school student</h1>
            {% else %}
            <h1>you are a middle school student</h1>
            {% endif %}
        {% endif %} -->


        {% for i in name %}
        <h1>{{i}}</h1>
        {% endfor %}
    </center>
</body>
</html>